{% extends 'base.html.twig' %}

{% block title %}New Course{% endblock %}

{% block body %}
    <h1>Создание курса</h1>
    {{ include('course/_form.html.twig') }}
    <hr class="my-12"/>
    <a href="{{ path('app_course_index') }}">
        <button class="btn btn-primary w-100 btn-block">Вернуться на главную</button>
    </a>
{% endblock %}
