{{ form_start(form) }}
    {{ form_widget(form) }}
    <hr class="my-12"/>
    <button class="btn btn-primary w-100 btn-block">{{ button_label|default('Добавить урок') }}</button>
{{ form_end(form) }}
